<h1>Callees</h1>

<% @callees.each do |callee| %>
  <% if callee.can_start_relationship? %>
    <div class="callee">
      <p><%= callee.bio %></p>
      <p><%= link_to "Call this person", callee_relationships_path(callee), method: :POST, data: {confirm: "Are you sure you'd like to add this person? You can add #{current_user.available_relationships} more people, including this one."} %></p>
    </div>
  <% end %>
<% end %>