<% unless user_signed_in? %>

<div id="home-cta">
  <%= image_tag "logo.png" %>
  <%= link_to "Sign up as a volunteer caller", new_user_registration_path %>
  <p class="fine-print">We are currently limiting volunteers to Washington State high school students.</p>
</div>

<p id="home-gist">Connecting elderly people isolated by the COIVD-19 pandemic with high school volunteers for deep phone conversations.</p>
<p>The COVID-19 pandemic has caused many to feel isolated. One demographic that has felt the effects of this isolation most keenly is the older generation. Many independent living and assisted care residents are not allowed to see visitors or even have contact with each other. Our project aims to connect students with residents for deep phone conversations, bridging the generation gap and improving emotional health by giving the gift of shared perspectives. </p>

<% end %>
<% if current_user && !current_user.student? %>
If you're a high school student and you'd like to volunteer to make calls,
make sure you're using your school email address. Currently, you're using the
email address <%= current_user.email %>. If you'd like to change this, you can
do so <%= link_to "here", edit_user_registration_path %>. If you're a high
school student using your school email address and you still are getting this
message, we might not know about your school. Contact us and we'll sort things
out.
<% end %>