<h1>About Phone Pals</h1>

<p>Phone Pals is a volunteer project by a group of high school students aiming to bridge the gap between generations and provide support to the older generation during this difficult time.</p>

<p>The COVID-19 pandemic has caused many to feel isolated. One demographic that has felt the effects of this isolation most keenly is the older generation. Many independent living and assisted care residents are not allowed to see visitors or even have contact with each other. Our project aims to connect students with residents for deep phone conversations, bridging the generation gap and improving emotional health by giving the gift of shared perspectives.</p>
