<h1>Care facilities</h1>

<p>
  Phone Pals is an organization connecting older people isolated by the
  COVID-19 pandemic with high school volunteers for deep phone conversations. 
  If you think your residents would be interested in participating, please
  reach out to us at <a href="mailto:info@phonepals.net">info@phonepals.net</a>.
  We'd be happy to have you!
</p>

<h2>How it works</h2>

<p>
  We'll ask you for a name, phone number and short bio for each interested
  resident. If you have one phone switchboard that can be used to call all of
  your residents, that works too. From there, we handle the rest: we'll start
  offering your residents to our volunteers, and they'll start getting calls!
</p>

<h2>Safety features</h2>

<p>
  We take the safety of your residents very seriously. We take the following
  measures to ensure safety:
</p>
<ul>
  <li>We verify that all of our volunteers are high school students.</li>
  <li>Before selecting a person to contact, volunteers only see the bios you provide—no names or phone numbers. When a volunteer does select one of your residents, they see only a first name and last initial.</li>
  <li>All phone calls are routed through our secure system, so neither students nor residents see each other's phone numbers.</li>
  <li>We limit the number of residents each volunteer can contact. Additionally, each resident will only be connected with one volunteer.</li>
</ul>

<a class="care-contact-button" href="mailto:info@phonepals.net">Contact us</a>