@import "_shared";

html,
body,
#container {
  height: 100%;
  margin: 0;
}

#container {
  max-width: 75em;
  margin: auto;

  display: flex;
  flex-direction: column;
}

header {
  flex-shrink: 0;

  margin-top: 10px;
  display: flex;
  height: 7ex;
  align-items: center;

  & > a {
    // logo
    height: 100%;
  }

  img {
    height: 100%;
    width: auto;
    margin-right: 1em;
  }

  #header-name {
    font-size: 6ex;
    font-weight: normal;
  }

  #header-name a {
    color: #888;

    &:hover {
      color: #555;
    }
  }

  #header-user {
    flex: 1;
    text-align: right;
  }
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
  padding-bottom: 10px;
}

@media (max-width: 450px) {
  header {
    height: 5ex;
    #header-name {
      font-size: 4ex;
    }
  }
}

a {
  color: $brand-blue-1;
  text-decoration: none;
}

a:hover {
  color: $brand-blue-2;
}

.notice:not(:empty) {
  background-color: $brand-blue-1;
  color: white;
  border: 1px solid $brand-blue-2;
  border-radius: 5px;
  padding: 0.5em;
}

footer {
  color: grey;
  text-align: center;
}

* {
  box-sizing: border-box;
}
